@font-face {
    font-family: 'Alliance No.1 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Alliance No.1 Light'), url('Degarism Studio - Alliance No.1 Light.woff') format('woff');
}


@font-face {
    font-family: 'Alliance No.2 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Alliance No.2 Light'), url('Degarism Studio - Alliance No.2 Light.woff') format('woff');
}
